:root {
  --grey-color: #626262;
  --accent-color: #03a9f3;
  --white-color: #fff;
  --active-color: #ff0000;
  --line-height: 1.7;
  --font-family: 'Playfair Display', serif;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0px;
  background-color: #ffffff;
  color: var(--grey-color);
  font-family: var(--font-family);
}

p,
.title {
  margin: 0px;
  padding: 0px;
}

.header {
  margin-top: 77px;
  margin-bottom: 73px;
  min-height: 42px;
}

/* CONTAITER */
.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  /*padding-left: 150px;
  padding-right: 150px;*/
}

.content {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* NAVLINKS*/
.navlink {
  font-size: 14px;
  line-height: var(--line-height);
  text-decoration: none;
  color: var(--grey-color);
  padding-bottom: 18px;
}

.navlink:hover,
.navlink:focus {
  color: var(--accent-color);
}

.navlink:active {
  color: var(--active-color);
}

.lifestyle {
  padding-right: 61.5px;
  padding-left: 61.5px;
}
.photodiary {
  padding-right: 51px;
  padding-left: 61.5px;
}

.music {
  padding-right: 47.5px;
  padding-left: 51px;
}

.travel {
  padding-left: 47.5px;
  padding-right: 47.5px;
}

/*PARAGRAPH*/
.paragraph {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #b4ad9e;
}

.title {
  font-size: 30px;
  font-weight: 400;
}

.text {
  font-size: 14px;
  line-height: var(--line-height);
}

/*BUTTON*/
.button {
  font-size: 20px;
  line-height: 1.2;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  min-width: 164px;
  min-height: 60px;
  padding: 22px 34px;
  outline: 1px solid #000000;
  color: var(--grey-color);
  margin-top: 38px;
  margin-bottom: 70px;
  margin-left: 359px;
  margin-right: 0px;
  text-align: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
}

/*NAVLINKS*/
.navlinks {
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-section {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.links-section {
  display: flex;
  flex-wrap: wrap;
}

.section-list {
  flex-basis: calc(100% / 2 - 29.5px);
  margin-right: 59px;
}

.section-list:nth-child(2n) {
  margin-right: 0px;
}

.paragraph {
  margin-bottom: 31px;
  text-align: left;
}

.title {
  margin-bottom: 42px;
}
